*{
    box-sizing: border-box;
    text-align: center;
}

html, body{
    margin: 0;
}

/* HEADER STYLES*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #212529;
    color: #fed136;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    
}

header h5{
    font-size: 20px;
    margin: 20px
}

.menu-button{
    height: 40px;
    width: 80px;
    background-color: #fed136;
    border-radius: 5px;
    margin: 20px;
    font-size: 15px;
    

    color: white
    
}

/*BANNER STYLES*/

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}
.banner button{
    color: white;
    font-size: 20px;
    background-color: #fed136;
    border-radius: 5px;

    height: 75px;
    width: 220px
}

.banner h3{
    color: white;
    font-size: 25px;
}

.banner h1{
    color: white;
    font-size: 50px;
    margin-top: 5px
}

/*SERVICES*/
#services{
    display: flex;
    flex-direction: column;
    align-items: center
}

#services h1{
    font-size: 40px;
    margin-bottom: 10px
}

#services h3{
    font-size: 20px
}

#services h5{
    margin-top: 0px
}

#services p{
    margin-top: 0px
}